.parallax-contenedor {
    position: relative;
    /* necesario para posicionar hijos en Absolute */
    height: 70vh;
    overflow: hidden;
    /* ocultar parte del fondo que no entre */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige; /*no es muy necesario*/
    text-align: center;
}

.parallax-bg {
    position: absolute;
    top: -20%;
    /* empezar un poco más arriba para tener margen de movimiento */
    left: 0;
    width: 100%;
    height: 140%;
    background-size: cover;
    background-position: center center;
    /* z-index: -1; */
}

.parallax-contenido {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: white;

}

/* Estilos para el elemento flotante que acompaña a parallax */
/*posición inicial independiente para cada elemento*/
.parallax-flotante {
    position: absolute;
    max-width: 150px;
    height: auto;
    z-index: 2;
    will-change: transform; /*la transformación de este objeto va a modificarse. funciona igual sin esta regla pero optimiza*/
  }


  #flotante-1{
    bottom: 15%;
    left: 50px;
    width: 120px;
  }

  #flotante-2{
    bottom: 20%;
    left: 5%;
    width: 100px;
  }

  #flotante-3{
    bottom: 10%;
    left: 40px;
    width: 180px;
    opacity: 0;
  }



