/* --------------------------------------------*/
/*            Variables de CSS                 */
/* --------------------------------------------*/

:root {
    --bg-primary: #fff;
    --bg-secondary: #f0f0f0;
    --txt-primary: #000;
    --txt-secondary: #222;

    --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


/* --------------------------------------------*/
/*                 Modo Oscuro                 */
/* --------------------------------------------*/

.u-Dark {
    --bg-primary: #000;
    --bg-secondary: #222;
    --txt-primary: #fff;
    --txt-secondary: #ddd;

    --box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

/* --------------------------------------------*/
/*      Clases Reutilizables (utilities)       */
/* --------------------------------------------*/

.u-bgPrimary {
    background: var(--bg-primary); 
    transition: background-color 0.3s ease;
}

.u-bgSecondary {
    background: var(--bg-secondary);
    transition: background-color 0.3s ease;
}

.u-textPrimary {
    color: var(--txt-primary); 
    transition: color 0.3s ease;
}

.u-textSecondary {
    color: var(--txt-secondary); 
    transition: color 0.3s ease;     
}

.u-boxShadow {
    box-shadow: var(--box-shadow);
}

/*Modo row o column*/
.Icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.u-flexCol{
    display: flex;
    flex-direction: column;
}

.u-flexRow{
    display: flex;
    flex-direction: row; 
}


/* --------------------------------------------*/
/*         Controllers (botones abajo)         */
/* --------------------------------------------*/

.Controllers{
    position: fixed;
    bottom: 20px;
    right: 10px;

    display: flex;
    gap: 10px;
    padding: 10px;
}

.Btn{
    color: var(--txt-primary);
    background-color: var(--bg-primary);
    border: none;
    box-shadow: var(--box-shadow); /*NO SE APLICA*/

    cursor: pointer; /*al pasar sobre el boton aparece manita*/
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn--icon{
    min-width: unset; /*quitar el contenido que tenga*/
    border-radius: 100%;
}