/*https://www.dafont.com/es/search.php?q=crotah*/
@font-face{
    font-family: "Crotah"; 
    src: url("../fonts/Crotahfreeversion-Italic.ttf") format("truetype"); /*porque el archico es ttf, estos siempre son truetype*/
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.u-txtCrotah {
    font-family: "Crotah";
}

.Main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /*10px top y bottom, 20px left y right*/
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    z-index: 2;
}