/* --------------------------------------------*/
/*                  Variables CSS              */
/* --------------------------------------------*/

:root{
    --fb-color: #4267b2;
    --x-color: #000;
    --tweet-color: #1DA1F2; /*antiguo color twitter*/
    --insta-color: #E1306C;
    --lkdin-color: #2867b2;
    --yt-color: #f00;
    --lion-color: #db9601; /*color inventado*/
}

/*Fix para icono de X*/
.u-Dark{
    --x-color: #fff;
}


/* --------------------------------------------*/
/*                      Icons                 */
/* --------------------------------------------*/


.IconBox-link{
    margin: 0;
    text-decoration: none;
    display: block;

    position: relative;
}

.IconBox-layers{
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.IconBox:hover .IconBox-layers /*si hago hover a iconbox, quiero seleccionar cada capa*/ {
    transform: rotate(-35deg) skew(20deg);
}

.IconBox-span{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #943e3e;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    font-size: 30px;
    line-height: 55px;
    text-align: center;
}


/* --------------------------------------------*/
/*               Layers de Iconos              */
/* --------------------------------------------*/

.IconBox:hover .IconBox-span:nth-child(1){
    opacity: 0.2;
}

.IconBox:hover .IconBox-span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.IconBox:hover .IconBox-span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.IconBox:hover .IconBox-span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.IconBox:hover .IconBox-span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
}




/* --------------------------------------------*/
/*               Colores de Iconos             */
/* --------------------------------------------*/

.IconBox--fb .IconBox-span,
.IconBox--fb .IconBox-text{
    color: var(--fb-color);
    border-color: var(--fb-color);
}

.IconBox--x .IconBox-span,
.IconBox--x .IconBox-text{
    color: var(--x-color);
    border-color: var(--x-color);
}

.IconBox--insta .IconBox-span,
.IconBox--insta .IconBox-text{
    color: var(--insta-color);
    border-color: var(--insta-color);
}

.IconBox--lkdin .IconBox-span,
.IconBox--lkdin .IconBox-text{
    color: var(--lkdin-color);
    border-color: var(--lkdin-color);
}

.IconBox--yt .IconBox-span,
.IconBox--yt .IconBox-text{
    color: var(--yt-color);
    border-color: var(--yt-color);
}

.IconBox--lion .IconBox-span,
.IconBox--lion .IconBox-text{
    color: var(--lion-color);
    border-color: var(--lion-color);
}


/*Sombras de Layers/capas*/
.IconBox--fb:hover .IconBox-span{
    box-shadow: -1px 1px 3px var(--fb-color);
}

.IconBox--x:hover .IconBox-span{
    box-shadow: -1px 1px 3px var(--x-color);
}

.IconBox--insta:hover .IconBox-span{
    box-shadow: -1px 1px 3px var(--insta-color);
}

.IconBox--lkdin:hover .IconBox-span{
    box-shadow: -1px 1px 3px var(--lkdin-color);
}

.IconBox--yt:hover .IconBox-span{
    box-shadow: -1px 1px 3px var(--yt-color);
}

.IconBox--lion:hover .IconBox-span{
    box-shadow: -1px 1px 3px var(--yt-color);
}

/*.IconBox--lion:hover .IconBox-span:nth-child(even){
    box-shadow: -1px 1px 3px var(--yt-color);
}*/

.IconBox-text {
    position: absolute;
    left: 50%;
    font-weight: 500;
    bottom: -5px;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    transform: translate(-50%);
}

.IconBox:hover .IconBox-text {
    bottom: -35px;
    opacity: 1;
}

.IconBox {
    padding-bottom: 35px;
}

/* --------------------------------------------*/
/*               Icono personalizado           */
/* --------------------------------------------*/

.IconBox--lion .IconBox-text,
.IconBox--lion .IconBox-span{
    font-family: "Bungee Spice";
    white-space: nowrap; /*No pone saltos de lineas en espacios pequeños*/
}